* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

a {
    position: relative;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 30px;
    color: #FFF;
    text-decoration: none;
    /* 使用linear-gradient生成一个线性渐变的“背景图” */
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    /* 放大背景图 */
    background-size: 400%;
    /* 这里是为了让a标签的背景显示在a::before的下面 */
    z-index: 1;
}

a:hover {
    /* 创建动画
        动画名称show
        执行时间8秒
        线性
        循环执行
    */
    animation: show 8s linear infinite;
}

/* 动画主体
    从初始到结束，移动背景图的位置
*/

@keyframes show {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

/* 创建背景炫光效果 */
a::before{
    position: absolute;
    content: "";
    top:-5px;
    left:-5px;
    right:-5px;
    bottom:-5px;
    /* 使用linear-gradient生成一个线性渐变的“背景图” */
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    /* 放大背景图 */
    background-size: 400%;
    border-radius: 40px;
    z-index: -1;
    filter: blur(20px);
    /* 默认不显示 */
    opacity: 0;
}
a:hover::before{
    opacity: 1;
    /* 背景炫光增加动画 */
    /* 与按钮的动画保持一致 */
    /* 创建动画
        动画名称show
        执行时间8秒
        线性
        循环执行
    */
    animation: show 8s linear infinite;
}
